<template>
  <div class="events">
    <div class="event" v-for="calendarEvent in events" :key="calendarEvent.id">
      <div class="event-slot event-title">{{ calendarEvent.title }}</div>
      <div class="event-slot event-date">
        {{
          calendarEvent.start.toLocaleDateString("fr-FR", {
            day: "2-digit",
            month: "long",
          })
        }}
        de
        {{
          calendarEvent.start.toLocaleTimeString("fr-FR", {
            hour: "2-digit",
            minute: "2-digit",
          })
        }}
        à
        {{
          calendarEvent.end.toLocaleTimeString("fr-FR", {
            hour: "2-digit",
            minute: "2-digit",
          })
        }}
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./Events.component.ts"></script>

<style>
.events {
  background-color: #000f42;
  position: fixed;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  font-family: sans-serif;
}

.event {
  color: #000f42;
  background-color: rgba(256, 256, 256, 0.5);
  height: calc(20vh - 24px);
  box-sizing: border-box;
  margin: 20px;
  padding: 0 20px;
  font-size: calc(20vh - 12px);
}

.event-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: calc(10vh - 12px);
  font-size: calc(7vh - 12px);
}
.event-date {
  line-height: calc(10vh - 12px);
  font-size: calc(6vh - 12px);
}
</style>
